doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='assets/ico/favicon.ico')
    title Liza Carter
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/font-awesome.min.css', rel='stylesheet')
    link(href='assets/js/fancybox/jquery.fancybox.css', rel='stylesheet')
  body(data-spy='scroll', data-offset='0', data-target='#theMenu')
    // Menu
    nav#theMenu.menu
      .menu-wrap
        h1.logo
          a(href='index.html#home') Liza Carter
        i.fa.fa-times.menu-close
        a.smoothScroll(href='#home') Home
        a.smoothScroll(href='#portfolio') Portfolio
        a.smoothScroll(href='#skills') Skills
        a.smoothScroll(href='#about') About
        a.smoothScroll(href='#contact') Contact
        a(href='#')
          i.fa.fa-envelope
        a(href='#')
          i.fa.fa-linkedin-square
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-instagram
      // Menu button
      #menuToggle
        i.fa.fa-bars
    section#home(name='home')
    #headerwrap
      .container
        .row
          .col-md-6.col-md-offset-3
            h1 LIZA CARTER

    section#about(name='about')
    #aboutwrap
      .container
        .row
          .col-xs-4.name
            img.img-responsive#profpic(src='assets/img/pic.png')
            p LIZA CARTER
            .name-label
          .col-xs-8.name-desc
            h2 WEB DEVELOPER | SHARP-SHOOTER | NASHVILLE, TN
            .name-zig
            .col-md-6
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .col-md-6
              p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
              p Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
    .sep.about(data-stellar-background-ratio='0.5')
    section#portfolio(name='portfolio')
    #portfoliowrap
      .container
        .row
          h1 SOME OF MY PROJECTS

          // col-lg-4
        // /row
        .row.mt
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.desc
            .project-wrapper
              .project
                .photo-wrapper
                  .photo
                    a.fancybox(href='assets/img/portfolio/port02.jpg')
                      img.img-responsive(src='assets/img/portfolio/port02.jpg', alt='')
                  .overlay
                .deployed
                  a(href='http://lizahcarter.github.io/mario/')
                    i.fa.fa-play
                .github
                  a(href='http://github.com/lizahcarter/mario')
                    i.fa.fa-code

          // col-lg-4
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.desc
            .project-wrapper
              .project
                .photo-wrapper
                  .photo
                    a.fancybox(href='assets/img/portfolio/port01.jpg')
                      img.img-responsive(src='assets/img/portfolio/port01.jpg', alt='')
                  .overlay
                .deployed
                  a(href='http://lizahcarter.github.io/roundup/')
                    i.fa.fa-play
                .github
                  a(href='http://github.com/lizahcarter/roundup')
                    i.fa.fa-code
          // col-lg-4
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.desc
            .project-wrapper
              .project
                .photo-wrapper
                  .photo
                    a.fancybox(href='assets/img/portfolio/port03.jpg')
                      img.img-responsive(src='assets/img/portfolio/port03.jpg', alt='')
                  .overlay
                .deployed
                  a(href='http://play.google.com/store/apps/details?id=com.ionicframework.gpvirusgame730011&hl=en')
                    i.fa.fa-play
                .github
                  a(href='http://github.com/LizaHCarter/gp-virus-game')
                    i.fa.fa-code
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.desc
            .project-wrapper
              .project
                .photo-wrapper
                  .photo
                    a.fancybox(href='assets/img/portfolio/port04.jpg')
                      img.img-responsive(src='assets/img/portfolio/port04.jpg', alt='')
                  .overlay
                .deployed
                  a(href='http://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en')
                    i.fa.fa-play
                .github
                  a(href='http://github.com/LizaHCarter/lls-golf')
                    i.fa.fa-code

    .sep.portfolio(data-stellar-background-ratio='0.5')
    section#skills(name='skills')
    #skillswrap
      .container
        .row.mt.centered
          h1#skillsSection SKILLS
          .col-md-4.proc
            i.fa.fa-shield.fa-2x
            h3 MEAN Stack
            p Built full-stack apps using MongoDB, Express, AngularJS, Node.js, as well as HTML5, Jade, CSS, Less, Linux, and test-driven-development using Mocha/Chai, Coveralls, and TravisCI.
          .col-md-4.proc
            i.fa.fa-mobile.fa-2x
            h3 Mobile Dev
            p Designed mobile apps using Ionic, XCode, Android SDK, and deployed apps to the App Store and Google Play.
          .col-md-4.proc
            i.fa.fa-gamepad.fa-2x
            h3 Game Dev
            p Created multi-level games using Phaser.io, HTML5 Canvas, and Tiled.
    //.sep.skills(data-stellar-background-ratio='0.5')

    section#contact(name='contact')
    .sep.contact(data-stellar-background-ratio='0.5')
      img.img-responsive#contactpic(src='assets/img/contact-sep.jpg', alt='')
    #contactwrap
      .container
        .row
          .col-lg-6
            h3 CONTACT ME
            p 320 11th Ave S, #339
             div Nashville, TN 37203

            p#contactlinks

              i.fa.fa-mobile &nbsp
              | 803.260.1774
              br
              i.fa.fa-envelope &nbsp
              | lizahcarter@gmail.com
              br
              i.fa.fa-laptop &nbsp
              a(href='https://medium.com/@Lazer_Tag') Blog
              br
              i.fa.fa-linkedin-square &nbsp
              a(href='https://www.linkedin.com/pub/liza-carter/6a/7b3/8b2') LinkedIn
              br
              i.fa.fa-twitter-square &nbsp
              a(href='https://twitter.com/LizaHCarter') Twitter

          .col-lg-6
            form(role='form')
              .form-group
                label(for='exampleInputName1') Your Name
                input#exampleInputEmail1.form-control(type='email', placeholder='Enter name')
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
                label(for='exampleInputText1') Message
                textarea.form-control(rows='3')
              button.btn.btn-default(type='submit') Submit
      // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='assets/js/classie.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/smoothscroll.js')
    script(src='assets/js/jquery.stellar.min.js')
    script(src='assets/js/fancybox/jquery.fancybox.js')
    script(src='assets/js/main.js')
    script.
      $(function(){
      $.stellar({
      horizontalScrolling: false,
      verticalOffset: 40
      });
      });
    script(type='text/javascript').
      $(function() {
      //    fancybox
      jQuery('.fancybox').fancybox();
      });
