doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Liza Carter
    link(href='/public/css/index.css', rel='stylesheet')
    link(href='../../public/vendor/bootstrap.min.css', rel='stylesheet')
  body
    h1 Welcome To Liza's Portfolio
    .navbar.navbar-inverse
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Home
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') Portfolio
        li
          a(href='#') About
        li
          a(href='#') Contact
